.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #38b5c5;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

.navItem a:hover {
  color: #f9f9f9;
}

.active {
  text-decoration: underline;
}
